{% extends "base.html.twig" %}
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_editLogs') }}">Chloé</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('add_pics') }}">Ajouter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('edit_pics') }}">Editer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle waves-effect waves-light"  id="dropdownMenu" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ordonner images</a>
                        <div class="dropdown-menu " aria-labelledby="dropdownMenu">
                            <a class="dropdown-item" href="{{ path('app_order',{page: 'portfolio'}) }}">Portfolio</a>
                            <a class="dropdown-item" href="{{ path('app_order',{page: 'papier'}) }}">Papier</a>
                            <a class="dropdown-item" href="{{ path('app_order',{page: 'numerique'}) }}">Numérique</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin/deletePic">Supprimer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_home') }}">Retour au site</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('app_logout') }}>Déconnexion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
{% block adminWarning %}{% endblock %}

{% block footer %}{% endblock %}