{% extends 'base_admin.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    {#<div class="col-md-12 d-flex justify-content-center mb-5">
        <h1>L'espace de l'administratrice</h1>
    </div>#}

    <div class="text-center container" id="stats">

        <div>
            <p>Nombre d'images : <span id='total'>{{ all }}</span> </p>
            <p>Images dans le portfolio : <span id="portfolio">{{ count.portfolio }}</span> </p>
            <p>Images dans papier : <span id='papier'>{{ count.papier }}</span></p>
            <p>Images dans numérique : <span id='num'> {{ count.numerique }}</span></p>
        </div>
        <div class='graph d-none d-sm-block justify-content-center text-center ml-5'>
            <canvas  id="barChart" style="max-width: 900px;"></canvas>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/mdb.min.js') }}"></script>
{% endblock %}

