{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/gallery.css') }}">
{% endblock %}
{% block body %}
 {% set page = app.request.get('page')%}

    <form method="post">
        <div class="gallery container " id="gallery">
            {% for picture in pictures %}

                <div class=" pics animation all 2 mb-5  mt-5">
                    <button class="btn-ord">
                        <img  title='{{ picture.title }}'   class="img-fluid image ord" id="{{ picture.id }}"  src="{{ asset('images/'~ picture.fileName) }}" alt="{{ picture.alt }}">
                        <input class="input" type="hidden"
                                {% if page=='portfolio' %}
                                    value="{{ picture.getPortfolio() }}"
                                {% endif %}
                                {% if page=='papier' %}
                                    value="{{ picture.papier }}"
                                {% endif %}
                                {% if page=='numerique' %}
                                    value="{{ picture.numerique }}"
                                {% endif %}
                               name="{{ picture.id }}">
                    </button>
                </div>

            {% endfor %}

        </div>
        <div class="mx-auto mb-5 mt-5"  style="width: 100px;">
            <button type="submit" id="submit-all" class="btn btn-primary " >Enregistrer</button>
        </div>
    </form>

{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
     <script src="{{ asset('js/order.js') }}"
{% endblock %}
